
body, html {
  background-color: white;
  padding-top: 1.5em;
}

.paper {
  width:100%;
  border: 0;
}

.content:first-child {
  padding-top: 3em;
}

.content-cat {
  width:35%;
}

@media print {
  .page-break { display: block; page-break-before: always; }
}