<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <style>{{{css}}}</style>
  <style media="print">{{{print}}}</style>
</head>
<body>
  <div class="resume-wrapper">
    <article class="paper">
      {{#resume.basics}}
        <header>
          <div class="header-content">
            {{#if picture}}
              <div class="header-pic">
                <img src="{{picture}}" class="pic" />
              </div>
            {{/if}}
            <div class="header-text">
              <p>
                {{name}}
              </p>
              <p class="subtitle">{{label}}</p>
            </div>
          </div>
        </header>
        <div class="content-wrapper">
          <!-- CONTACT -->
          <section class="content">
            <div class="row">
              <div class="content-cat">
                Contact
              </div>
              <div class="content-text">
                {{#if website}}
                  <ul>
                    <li>Website</li>
                    <li>{{website}}</li>
                  </ul>
                {{/if}}
                {{#if email}}
                  <ul>
                    <li>Email</li>
                    <li>{{email}}</li>
                  </ul>
                {{/if}}
                {{#if phone}}
                  <ul>
                    <li>Phone</li>
                    <li>{{phone}}</li>
                  </ul>
                {{/if}}
              </div>
            </div>
          </section>
          <!-- LOCATION -->
          {{#location}}
            {{#ifCond address '||' city}}
              <section class="content">
                <div class="row">
                  <div class="content-cat">
                    Location
                  </div>
                  <div class="content-text">
                    {{#if address}}
                      <ul>
                        <li>Address</li>
                        <li>{{address}}</li>
                      </ul>
                    {{/if}}
                    {{#if city}}
                      {{#if postalCode}}
                        <ul>
                          <li>Postal Code & City</li>
                          <li>{{postalCode}} {{city}}</li>
                        </ul>
                      {{/if}}
                    {{/if}}
                    {{#if region}}
                      <ul>
                        <li>Region</li>
                        <li>{{region}}</li>
                      </ul>
                    {{/if}}
                  </div>
                </div>
              </section>
            {{/ifCond}}
          {{/location}}
      {{/resume.basics}}
        
          {{#if resume.work.length}}
            {{#foreach resume.work}}
              {{#if $first}}
                <section class="content">
              {{else}}
                <section class="content work-content">
              {{/if}}
                  <div class="row">
                    <div class="content-cat big-text">
                      {{#if $first}}
                        Work  Experience
                      {{/if}}
                      {{#if startDate}}
                        {{#if endDate}}
                          <p>{{startDate}} till {{endDate}}</p>
                        {{else}}
                          <p>{{startDate}} till today</p>
                        {{/if}}
                      {{/if}}
                    </div>
                    <div class="content-text work-listing education-listing">
                      {{#ifCond company '||' position}}
                        {{#if $first}}
                          <p style="margin-top:2.4em;">
                        {{else}}
                          <p>
                        {{/if}}
                        {{#ifCond website '&&' company}}
                          <strong>{{position}}</strong>
                          at <strong><a href="{{website}}">{{company}}:</a></strong>
                        {{else}}
                          {{#if company.length}}
                            <strong>{{position}}</strong>
                            at <strong>{{company}}:</strong>
                          {{else}}
                            <strong>{{position}}:</strong>
                          {{/if}}
                        {{/ifCond}}
                        </p>
                      {{/ifCond}}
                      {{#if summary}}
                        <p>{{summary}}</p>
                      {{/if}}
                      {{#if highlights.length}}
                        {{#each highlights}}
                          <p class="highlight">{{.}}</p>
                        {{/each}}
                      {{/if}}
                    </div>
                  </div>
                </section>
            {{/foreach}}
          {{/if}}

          {{#if resume.volunteer.length}}
            {{#each resume.volunteer}}
              <section class="content">
                <div class="row">
                  <div class="content-cat big-text">
                    {{#if organization}}
                      {{organization}}
                    {{/if}}
                    {{#if startDate}}
                      {{#if endDate}}
                        <p>{{startDate}} till {{endDate}}</p>
                      {{/if}}
                    {{/if}}
                  </div>
                  <div class="content-text work-listing">
                    {{#if summary}}
                      <p>
                        {{summary}}
                      </p>
                    {{/if}}
                    {{#if highlights.length}}
                      {{#each highlights}}
                        <p class="highlight">{{.}}</p>
                      {{/each}}
                    {{/if}}
                  </div>
                </div>
              </section>
            {{/each}}
          {{/if}}

          {{#if resume.education.length}}
            {{#foreach resume.education}}
              {{#if $first}}
                <section class="content">
              {{else}}
                <section class="content education-content">
              {{/if}}
                  <div class="row">
                    <div class="content-cat big-text">
                      {{#if $first}}
                        Education
                      {{/if}}
                      {{#if startDate}}
                        {{#if endDate}}
                          <p>{{startDate}} till {{endDate}}</p>
                        {{/if}}
                      {{/if}}
                    </div>
                    <div class="content-text work-listing education-listing">
                      {{#if institution}}
                        {{#if $first}}
                          <p class="heading" style="margin-top:2.35em;">{{institution}}</p>
                        {{else}}
                          <p class="heading">{{institution}}</p>
                        {{/if}}
                      {{/if}}
                      {{#if area}}
                        <p class="highlight">
                          {{#if studyType}}
                          {{studyType}}:
                          {{/if}}
                          <i>{{area}} {{#if gpa}}({{gpa}}){{/if}}</i>
                        </p>
                      {{/if}}
                    </div>
                  </div>
                </section>
            {{/foreach}}
          {{/if}}

          {{#if resume.awards.length}}
            {{#foreach resume.awards}}
              <section class="content">
                <div class="row">
                  <div class="content-cat big-text">
                    {{#if $first}}
                      Awards
                    {{/if}}
                    {{#if title}}
                      <p>{{title}}</p>
                    {{/if}}
                    {{#if date}}
                      <p style="margin-top:0.25em;">{{date}}</p>
                    {{/if}}
                  </div>
                  <div class="content-text work-listing">
                    {{#if awarder}}
                      <strong><p class="heading">{{awarder}}</p></strong>
                    {{/if}}
                    {{#if summary}}
                      <p class="highlight">{{summary}}</p>
                    {{/if}}
                  </div>
                </div>
              </section>
            {{/foreach}}
          {{/if}}

          {{#if resume.skills.length}}
          <section class="content">
            <div class="row">
              <div class="content-cat">
                Skills
              </div>
              <div class="content-text skills-listing">
                {{#foreach resume.skills}}
                  <p>
                    <span class="name">
                      {{#if name}}
                        <strong>
                          {{name}}{{#if level}}{{else}}:{{/if}}
                        </strong>
                      {{/if}}
                    </span>
                    {{#if level}}
                      <span>({{level}}):</span>
                    {{/if}}
                    {{#if keywords.length}}
                      {{#commalist keywords}}{{.}}{{/commalist}}
                    {{/if}}
                  </p>
                {{/foreach}}
              </div>
            </div>
          </section>
          {{/if}}

  <!-- LANGUAGE -->
          {{#if resume.languages.length}}
            <section class="content">
              <div class="row">
                <div class="content-cat">
                  Languages
                </div>
                <div class="content-text">
                  {{#each resume.languages}}
                    <ul>
                      {{#if language}}
                        <li>{{language}}</li>
                      {{/if}}
                      {{#if fluency}}
                        <li>{{fluency}}</li>
                      {{/if}}
                    </ul>
                  {{/each}}
                </div>
              </div>
            </section>
          {{/if}}
          {{#resume.basics}}
            <!-- PROFILES -->
            {{#if profiles.length}}
              <section class="content profiles">
                <div class="row">
                  <div class="content-cat">
                    Profiles
                  </div>
                  <div class="content-text profiles-listing">
                    <ul>
                      {{#each profiles}}
                        {{#if network}}
                          <li>
                            <a href="{{url}}" target="_blank">
                              {{network}}
                            </a>
                          </li>
                        {{/if}}
                      {{/each}}
                    </ul>
                  </div>
                </div>
              </section>
            {{/if}}
          {{/resume.basics}}

          {{#if resume.interests.length}}
            <section class="content">
              <div class="row">
                <div class="content-cat">
                  Interests
                </div>
                <div class="content-text skills-listing">
                  {{#foreach resume.interests}}
                    <p>
                      <span class="name">
                        {{#if name}}
                          <strong>
                            {{name}}{{#if keywords.length}}:{{/if}}
                          </strong>
                        {{/if}}
                      </span>
                      {{#if keywords.length}}
                        {{#commalist keywords}}{{.}}{{/commalist}}
                      {{/if}}
                    </p>
                  {{/foreach}}
                </div>
              </div>
            </section>
          {{/if}}

        </div>
    </article>
  </div>
</body>
</html>
