<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700' rel='stylesheet' type='text/css'>
	<style>
	{{{opensans}}}
	{{{css}}}
	</style>
	
	</head>
	<body>
	
		<div class="resume-wrapper">
		  <article class="paper">
		  	{{#resume.basics}}
			    <header>
			      <div class="header-content">
			        <div class="header-pic" title="Wiggle Wiggle">
			          <img src="{{picture}}" class="pic" />
			        </div>
			        <div class="header-text">
			          <p>
			            {{name}}
			          </p>
			          <p class="subtitle">{{label}}</p>
			        </div>
			      </div>
			    </header>
			    <div class="content-wrapper">
			    
			      <!-- CONTACT -->
			      <section class="content">
			        <div class="row">
			          <div class="content-cat">
			           Contact
			          </div>
			          <div class="content-text">
			          	{{#if website}}
				            <ul>
				              <li>Website</li>
				              <li>{{website}}</li>
				            </ul>
			            {{/if}}

			            {{#if email}}
				            <ul>
				              <li>Email</li>
				              <li>{{email}}</li>
				            </ul>
			            {{/if}}

			            {{#if phone}}
				            <ul>
				              <li>Phone</li>
				              <li>{{phone}}</li>
				            </ul>
			            {{/if}}
			          </div>
			        </div>
			      </section>

			      <!-- LOCATION -->
			      {{#location}}
			      <section class="content">
			        <div class="row">
			          <div class="content-cat">
			           Location
			          </div>
			          <div class="content-text">

			          	{{#if address}}
				            <ul>
				              <li>Address</li>
				              <li>{{address}}</li>
				            </ul>
			            {{/if}}

			            {{#if postalCode}}
				            <ul>
				              <li>Postal Code</li>
				              <li>{{postalCode}}</li>
				            </ul>
			            {{/if}}

			            {{#if city}}
				            <ul>
				              <li>City</li>
				              <li>{{city}}</li>
				            </ul>
			            {{/if}}

			            {{#if region}}
				            <ul>
				              <li>Region</li>
				              <li>{{region}}</li>
				            </ul>
									{{/if}}

			          </div>
			        </div>
			      </section>
			      {{/location}}

			      <!-- PROFILES -->
			      {{#if profiles.length}}
				      <section class="content">
				        <div class="row">
				          <div class="content-cat">
				           Profiles
				          </div>
				          <div class="content-text">
				          	{{#each profiles}}
					            <ul>
					            	{{#if network}}
					              	<li>{{network}}</li>
					              {{/if}}
					              <li>
					              	{{#if username}}
						              	{{#if url}}
							                <a href="{{url}}" target="_blank">
							                	{{username}}
							                </a>
						                {{/if}}
					                {{/if}}
					              </li>
					            </ul>
				            {{/each}}
				          </div>
				        </div>
				      </section>
			      {{/if}}
					{{/resume.basics}}

					{{#if resume.work.length}}
						{{#each resume.work}}
				      <section class="content">
				        <div class="row">
				          <div class="content-cat big-text">
				          {{#if company}}
				          	{{company}}
				          {{/if}}
				          
									{{#if startDate}}
											{{#if endDate}}
				            		<p>{{startDate}} till {{endDate}}</p>
				            	{{/if}}
										{{/if}}

				          </div>
				          <div class="content-text work-listing">
										
										{{#if summary}}
					            <p>
					            	{{summary}}
					            </p>
										{{/if}}

										{{#if highlights.length}}
											{{#each highlights}}
												<p class="highlight">{{.}}</p>
											{{/each}}
										{{/if}}
				          </div>
				        </div>
				      </section>
			      {{/each}}
					{{/if}}

					{{#if resume.volunteer.length}}
						{{#each resume.volunteer}}
				      <section class="content">
				        <div class="row">
				          <div class="content-cat big-text">
				          {{#if organization}}
				          	{{organization}}
				          {{/if}}
				          
									{{#if startDate}}
											{{#if endDate}}
				            		<p>{{startDate}} till {{endDate}}</p>
				            	{{/if}}
										{{/if}}

				          </div>
				          <div class="content-text work-listing">
										
										{{#if summary}}
					            <p>
					            	{{summary}}
					            </p>
										{{/if}}

										{{#if highlights.length}}
											{{#each highlights}}
												<p class="highlight">{{.}}</p>
											{{/each}}
										{{/if}}
				          </div>
				        </div>
				      </section>
			      {{/each}}
					{{/if}}

					{{#if resume.education.length}}
						{{#foreach resume.education}}
				      <section class="content">
				        <div class="row">
				          <div class="content-cat">

				          	{{#if $first}}
				            	Education
										{{/if}}

										{{#if startDate}}
											{{#if endDate}}
				            		<p>{{startDate}} till {{endDate}}</p>
				            	{{/if}}
										{{/if}}

				          </div>
				          <div class="content-text work-listing education-listing">

										{{#if institution}}
				            	<p class="heading">{{institution}}</p>
										{{/if}}

										{{#if area}}
											{{#if gpa}}
				            		<p class="highlight">{{area}} ({{gpa}})</p>
				            	{{/if}}
										{{/if}}

				          </div>
				        </div>
				      </section>
			      {{/foreach}}
		      {{/if}}

					{{#if resume.awards.length}}
						{{#foreach resume.awards}}
				      <section class="content">
				        <div class="row">
				          <div class="content-cat big-text">
				            {{#if $first}}
				            	Awards
										{{/if}}

										{{#if title}}
				            	<p>{{title}}</p>
										{{/if}}

										{{#if date}}
				            	<p style="margin-top:0.25em;">{{date}}</p>
										{{/if}}

				          </div>
				          <div class="content-text work-listing education-listing">

										{{#if awarder}}
				            	<p class="heading">{{awarder}}</p>
										{{/if}}

										{{#if summary}}
				            	<p class="highlight">{{summary}}</p>
										{{/if}}


				          </div>
				        </div>
				      </section>
			      {{/foreach}}
		      {{/if}}


					{{#if resume.skills.length}}
			      <section class="content">
			        <div class="row">
			          <div class="content-cat big-text">
			            Skills
			          </div>
			          <div class="content-text skills-listing">
			          	<ul>
			          	{{#foreach resume.skills}}
			            
			              <li>
			                {{#if name}}
												{{name}}
				            	{{/if}}

												{{#if level}}
				                	<span>({{level}})</span>
				                {{/if}}

												{{#if keywords.length}}
													{{#each keywords}}
														<p class="highlight">{{.}}</p>
													{{/each}}
												{{/if}}
			              </li>
			            
			            {{/foreach}}
			            </ul>
			          </div>
			        </div>
			      </section>
		    	{{/if}}

					<!-- LANGUAGE -->
		      {{#if resume.languages.length}}
		      <section class="content">
		        <div class="row">
		          <div class="content-cat">
		           Languages
		          </div>
		          <div class="content-text">

		          	{{#each resume.languages}}
			            <ul>
										
										{{#if language}}
			              	<li>{{language}}</li>
										{{/if}}	

										{{#if fluency}}
			              <li>{{fluency}}</li>
										{{/if}}	

			            </ul>
		            {{/each}}

		          </div>
		        </div>
		      </section>
		      {{/if}}

		      {{#if resume.interests.length}}
			      <section class="content">
			        <div class="row">
			          <div class="content-cat big-text">
			            Skills
			          </div>
			          <div class="content-text skills-listing">
			          	<ul>
			          	{{#foreach resume.interests}}
			            
			              <li>
			                {{#if name}}
												{{name}}
				            	{{/if}}

												{{#if keywords.length}}
													{{#each keywords}}
														<p class="highlight">{{.}}</p>
													{{/each}}
												{{/if}}
			              </li>
			            
			            {{/foreach}}
			            </ul>
			          </div>
			        </div>
			      </section>
		    	{{/if}}

		    </div>
		      
		  </article>
		  
		</div>
	</body>
</html>
